body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    cursor: auto;
    position: relative;
}

.menu-container {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: transparent;
    text-align: center;
    padding: 10px;
}

.menu-toggle {
    cursor: pointer;
    display: inline-block;
    width: 40px;
    height: 40px;
    transition: transform 0.5s ease, margin-top 0.5s ease;
    margin-top: 0;
}

.menu-toggle svg {
    width: 100%;
    height: 100%;
    fill: white;
}

.menu-toggle.moving {
    margin-top: 50px;
}

.menu-toggle.flipped {
    transform: rotate(180deg);
}

.menu-options {
    display: flex;
    justify-content: center;
    background-color: black;
    overflow: hidden;
    transition: max-height 0.5s ease, opacity 0.5s ease;
    max-height: 0;
    opacity: 0;
    margin-bottom: 10px;
}

.menu-options a {
    color: white;
    padding: 15px 20px;
    text-decoration: none;
    flex: 1;
    text-align: center;
    border-right: 2px solid #444;
}

.menu-options a:last-child {
    border-right: none;
}

.menu-options a:hover {
    animation: bounce 0.3s;
    background-color: #131313;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.menu-options.show {
    max-height: 100px;
    opacity: 1;
}

.intro-text {
    text-align: center;
    margin-bottom: 30px;
    font-size: 20px;
    max-width: 40%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    margin: 0 auto;
    opacity: 0;
    transition: opacity 2s ease;
}

.intro-text.visible {
    opacity: 1;
}

.socom-image {
    width: auto;
    height: auto;
    margin-top: 60px;
    display: block;
    opacity: 0;
    transition: opacity 2s ease;
}

.socom-image.visible {
    opacity: 1;
}


.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.icon {
    width: 50px;
    height: 50px;
    margin: 20px;
    transition: transform 0.3s;
    cursor: pointer;
}

.icon:hover {
    transform: scale(2.1);
}

#qrCode {
    margin-top: 20px;
    display: none;
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#staticCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.centered-rune {
    width: 200px;
    height: auto;
    animation: spin 40s linear infinite;
    transition: transform 0.2s;
}

.tome-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.tome-container.shifted {
    transform: translateX(100px);
}


.tome {
    display: inline-block;
    position: relative;
    width: 100px;
    text-align: center;
    text-decoration: none;
}

.tome-icon {
    width: 100%;
    height: auto;
    transition: transform 0.3s;
}

.tome:hover .tome-icon {
    transform: translateY(-5px);
}

.book-title {
    display: block;
    font-size: 12px;
    color: white;
    opacity: 0;
    transition: opacity 0.3s;
    margin-bottom: 5px;
    margin-top: 5px;
}


.tome:hover .book-title {
    opacity: 1;
}

.tome-title-display {
    position: absolute;
    top: 150px;
    text-align: center;
    width: 100%;
    font-size: 20px;
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 10;
}

.tome-title-display.visible {
    opacity: 1;
}

.search-container {
    margin-top: 20px;
    position: relative;
    text-align: center;
}

#searchBar {
    width: 300px;
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#searchResults {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: 1px solid #ccc;
    border-radius: 5px;
    max-height: 150px;
    overflow-y: auto;
    display: none;
}

.search-item {
    padding: 10px;
    cursor: pointer;
}

.search-item:hover {
    background-color: #f1f1f121;
}
